@import 'ui/_variables.scss';

.bite {
    position: relative;
    text-align: left;
    display: flex;
    margin-bottom: 20px;
    @media (max-width: $xs) {
        margin-bottom: 10px;
    }
    .image {
        position: relative;
        box-shadow: 3px 3px 4px 1px $background;
        width: 185px;
        min-width: 185px;
        height: 185px;
        object-fit: contain;
        @media (max-width: $xs) {
            margin: 10px;
            width: 60px;
            min-width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: contain;
            border: none;
            box-shadow: none;
        }
        .isOnline {
            position: absolute;
            right: 5%;
            bottom: 5%;
            height: 15px;
            width: 15px;
            background-color: $primary;
            border-radius: 50%;
            border: 2px solid white;
        }
    }
    .content {
        margin-bottom: 35px !important;
        width: 100%;
        .body {
            word-wrap: break-word;
        }
        .date {
            opacity: .6;
        }
    }
    .actions {
        position: absolute;
        bottom: -8px;
        right: 0;
    }
    .delete {
        position: absolute;
        top: -10px;
        right: -10px
    }
}

.biteDetails {
    word-wrap: break-word;
    position: relative;
    ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
    .loader {
        margin: 30px;
        text-align: center;
    }
    .imageWrapper {
        text-align: center;
        margin-bottom: 10px;
        .image {
            width: 180px;
            min-width: 180px;
            height: 180px;
            border-radius: 50%;
            object-fit: cover;
            @media (max-width: $xs) {
                width: 120px;
                min-width: 120px;
                height: 120px
            }
        }
    }
    .userHandle {
        margin-bottom: 10px;
        text-align: center;
        color: $primary;
    }
    .date {
        margin-bottom: 7px;
        opacity: .6;
    }
    .actions {
        margin-left: -10px;
    }
    .comments {
        .title {
            text-align: center;
            margin-bottom: 15px !important;
        }
    }
}

.list {
    text-align: center;
}

.addBite {
    position: relative;
}

.close {
    position: absolute !important;
    top: 0;
    right: 0;
}

.addBiteForm {
    text-align: center;
    .testField {
        margin-bottom: 20px;
    }
    .button {
        text-align: center;
    }
    .loader {
        position: absolute;
    }
}

.formControl {
    margin-bottom: 10px;
    min-width: 220px;
}

.selectEmpty {
    text-align: center;
}

.biteSkeleton {
    opacity: .5;
    display: flex;
    position: relative;
    text-align: left;
    margin-bottom: 20px;
    .image {
        box-shadow: 3px 3px 4px 1px $background;
        width: 185px;
        min-width: 185px;
        height: 185px;
        object-fit: contain;
        @media (max-width: $xs) {
            margin: 10px;
            width: 80px;
            min-width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: contain;
            border: none;
            box-shadow: none
        }
    }
    .content {
        flex-grow: 1;
        width: 100%;
        padding: 10px;
        div {
            margin-bottom: 10px;
        }
        .handle {
            width: 30%;
            height: 20px;
            background-color: $orange
        }
        .halfBody {
            width: 50%;
            height: 15px;
            background-color: darkGrey
        }
        .body {
            width: 90%px;
            height: 15px;
            background-color: darkGrey;
        }
        .date {
            width: 30%;
            height: 12px;
            background-color: grey;
        }
        .actionsLine {
            margin-top: 20px;
            width: 150px;
            margin-right: 0;
            margin-left: auto;
            height: 20px;
            background-color: $primary;
        }
    }
    .preloader {
        opacity: 1 !important;
        position: absolute;
        right: 50%;
        margin-right: -40px;
        top: 30%;
    }
}

.biteDeatilsSkeleton {
    opacity: .5;
    div {
        margin-bottom: 10px;
    }
    .imageWrapper {
        text-align: center;
        .image {
            width: 180px;
            min-width: 180px;
            height: 180px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    .handle {
        margin: 0 auto;
        width: 100px;
        height: 20px;
        background-color: $primary;
    }
    .date {
        opacity: .6;
        width: 100px;
        height: 12px;
        background-color: darkGrey;
    }
    .body {
        width: 90%;
        height: 15px;
        background-color: grey
    }
    .halfBody {
        width: 50%;
        height: 15px;
        background-color: grey;
    }
    .buttons {
        width: 100px;
        height: 18px;
        background-color: $primary;
    }
    .comments {
        .title {
            text-align: center;
            margin-bottom: 15px !important;
        }
    }
    .preloader {
        opacity: 1 !important;
        position: absolute;
        right: 50%;
        margin-right: -40px;
        top: 60%;
    }
}