$xs: 600px;
$sm: 900px;
$primary: #00e5ff;
$secondary: #ff3d00;
$background: #0b1119;
$darkNav: #20465e;
$lightNav: #2b5278;
$paper: #17212b;
$lightPaper: #1c2d3d;
$orange: #e55600;
$red: #e90000;
$yellow: #e3dd00;