.comment {
    flex-wrap: nowrap !important;
    background-color: var(--darkBackground);
    padding: 10px;
    margin-bottom: 2px;
    .image {
        width: 75px;
        height: 75px;
        object-fit: cover;
        border-radius: 50%;
        @media (max-width: 600px) {
            margin-right: 10px;
            width: 50px;
            height: 50px;
        }
    }
    .isOnline {
        position: absolute;
        right: 12%;
        bottom: 12%;
        height: 15px;
        width: 15px;
        background-color: var(--primary);
        border-radius: 50%;
        border: 2px solid white;
    }
    .header {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width: 600px) {
            display: block;
        }
    }
    .userHandle {
        margin-right: 10px;
    }
    .date {
        opacity: .6;
    }
    .body {
        white-space: pre-line;
        word-wrap: break-word;
    }
}

.addCommentForm {
    text-align: center;
    position: relative;
    .textField textarea {
        padding-right: 40px;
    }
    .btnBig {
        position: relative !important;
        text-align: center;
        @media screen and (max-width: 960px) {
            display: none;            
        }
    }
    .formLoader {
        position: absolute;
    }
}