body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #00e5ff;
  --secondary: #ff3d00;
  --darkBackground: #0b1119;
  --darkNav: #20465e;
  --paper: #17212b;
  --orange: #e55600;
  --red: #e90000;
  --yellow: #e3dd00;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contentContainer {
  margin: 80px auto 0 auto;
  max-width: 1200px;
  padding: 5px;
}

.form  {
  text-align: center
}


.textField {
  margin: 10px auto !important
}

.paper {
  padding: 20px;
}

a {
  text-decoration: none;
}

.icon {
  filter: drop-shadow( 0 0 1px var(--primary));
}